{% extends 'base.html' %}

{% block title %}Update User Information{% endblock %}

{% block content %}

<div>
    <form class="form" action="" method="POST">
        {%  csrf_token %}

        {% for field in form %}
        <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}

        <div class="form__action">
            <a class="btn btn--dark" href="{% url 'home.html %'}">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock %}